<footer>
  <div class="brand_info">
      <div class="wrapper">
          <ul class="brand_contact">
              <li>餐館地址: 天上地下天堂路三分之一里六段520號</li>
              <li>訂位專線：02-1314-5566</li>
              <li>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</li>
              <li>email：service@justabite.com.tw</li>
          </ul>
          <ul class="brand_link">
              <h2 class="nav_brand">Just A Bite!</h2>
              <li>Facebook / Instagram / Youtube</li>
          </ul>
      </div>
  </div>
  <div class="copyright">
      <p>Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有</p>
  </div>
</footer>
<% if (page === 'faq' || page === 'lottery') { %> 
<script src="js/<%= page %>.js"></script>
<% } %> 
</body>
</html>