*, *::before, *::after {
    box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}
p {
    white-space: pre-line;
    word-break: break-all;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: inherit;
    border: inherit;
    cursor: pointer;
}
:hover {
    transition: all .5s ease-in-out;
}
/* utils */
.bg_black {
    background: linear-gradient(to bottom, #000000, #434343);
}
.bg_toblack {
    background: linear-gradient(to top, #000000, #434343);
}
.err {
    position: absolute;
    width: 100%;
    font-size: 16px;
    color: royalblue;
    text-align: center;
}
/* layout */
nav {
    background: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 10px;
    z-index: 2;
}
nav .container {
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav div {
    display: flex;
    align-items: center;
}
nav .logo {
    color: #333;
    font-size: 28px;
}
nav a {
    display: inline-block;
    color: #787878;
    font-size: 16px;
}
nav a:hover {
    color: black;
}
nav a ~ a {
    margin-left: 20px;
}
.banner {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
}
.banner h1 {
    font-size: 28px;
}
.banner p {
    font-size: 14px;
}
main {
    position: relative;
    bottom: 50px;
    max-width: 920px;
    margin: 0 auto;
    padding: 10px;
    background: white;
}
main article {
    padding: 28px 30px 20px;
    border: 1px solid #9a9a9a;
    font-size: 14px;
    margin-bottom: 24px;
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.title h2 {
    font-size: 16px;
}
.title span {
    color: #8f8f8f;
}
.title form {
    display: inline-block;
    margin-left: 10px;
}
.title input[type=submit] {
    border: 1px solid #a8a8a8;
    color: #a8a8a8;
}
.title input[type=submit]:hover {
    border: 1px solid black;
    color: black;
}
.info {
    background: #eee;
    color: #8f8f8f;
    padding: 10px 20px;
    margin-bottom: 16px;
    font-size: 14px;
}
.info_item ~ .info_item {
    display: inline-block;
    margin-left: 16px;
}
.info_item i {
    margin-right: 12px;
}
.info a:hover {
    color: black;
}
article p {
    margin-bottom: 36px;
}
.content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 240px;
}
.btn {
    display: inline-block;
    border: 1px solid #737373;
    padding: 7px 16px;
    text-transform: uppercase;
}
.btn:hover {
    border: 1px solid black;
    background: black;
    color: #737373;
}
footer {
    background: black;
    color: #fefefe;
    text-align: center;
}
/* login */
.login {
    max-width: 528px;
    padding: 72px 64px 130px;
    margin: 0 auto;
    border: 1px solid black;
}
.login h2{
    font-size: 32px;
    text-align: center;
    margin-bottom: 60px;
}
.login label {
    display: inline-block;
    padding-left: 22px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
}
.login label ~ label {
    margin-top: 24px;
}
.login input {
    border: 1px solid black;
    font-size: 16px;
    height: 40px;
    width: 100%;
}
.login input[type=submit] {
    border: 1px solid white;
    margin-top: 72px;
    height: 56px;
    color: #fefefe;
    text-transform: uppercase;
}
.login input[type=submit]:hover {
    border: 1px solid black;
    background: transparent;
    color: black;
}

/* admin */
.admin article {
    border: none;
    border-bottom: 1px solid #9a9a9a;
}
h2 + span {
    margin-left: auto;
}
/* post */
.post article form {
    display: flex;
    flex-direction: column;
}
.post label {
    display: block;
    font-size: 20px;
    margin-bottom: 25px;
}
.post input:not([type=submit]) {
    border: 1px solid #d7d7d7;
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}
.post select {
    border: 1px solid #d7d7d7;
    outline: none;
    background: #eee;
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin-bottom: 28px;
}
.post textarea {
    border: 1px solid #d7d7d7;
    outline: none;
    width: 100%;
    margin-bottom: 25px;
}
.post input[type=submit] {
    border: 1px solid #d7d7d7;
    font-size: 16px;
    height: 40px;
    padding: 0 40px;
    align-self: flex-end;
}
.post input[type=submit]:hover {
    border: 1px solid black;
}