*, *::before, ::after {
    box-sizing: border-box;
}
.todo {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, "Microsoft Jhenghei", sans-serif;
}
.todo h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.todo li {
    font-size: 24px;
    display: flex;
    margin: 20px auto;
    flex-grow: 1;
}
.todo input[type="text"] {
    font-size: 24px;
    flex-grow: 1;
}
.todo p {
    font-size: 24px;
    vertical-align: bottom;
    flex-grow: 1;
    margin: 0 10px;
}
.todo button {
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}
.finished {
    color: gray;
    text-decoration: line-through;
}