*, *::before, ::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, "Microsoft Jhenghei", sans-serif;
    font-size: 24px;
    color: #444;
}
.todo {
    max-width: 720px;
    margin: 0 auto;
    padding: 20px;
}
.todo h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.todo li {
    display: flex;
    margin: 20px auto;
    flex-grow: 1;
    align-items: center;
}
.todo input{
    border: none;
    background: #eee;
    border-radius: 2px;
    outline: none;
}
.todo input[type="text"] {
    font-size: 24px;
    flex-grow: 1;
}
.todo p {
    font-size: 24px;
    vertical-align: bottom;
    flex-grow: 1;
    margin: 0 10px;
}
.todo i {
    cursor: pointer;
}
.finished p{
    color: gray;
    text-decoration: line-through;
}