<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Error</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="alert alert-danger" role="alert">
        <h1>非常抱歉，出錯囉！請重新整理試試！</h1>    
    </div>
</body>
</html>