<%- include('template/header.ejs', { page: 'lottery' }); %> 
<section class="bg lottery">
    <div>
        <h2 class="lottery_heading">2020 夏日輕盈特賞！ 抽獎活動辦法</h2>
        <ul class="lottery_rule">
            <li>
                <h3>活動期間：</h3>
                <p>2020/06/01~2020/07/01</p>
            </li>
            <li>
                <h3>活動說明：</h3>
                <p>今天老闆佛心來著決定給大家發獎勵，有看有機會，沒看只能幫QQ！只要在店內消費滿1000000元即有機會獲得 - 頭獎日本東京來回雙人遊！</p>
            </li>
            <li>
                <h3>獎&emsp;&emsp;品：</h3>
                <ul class="lottery_prizes">
                    <li>❤ 頭獎一名：日本東京來回雙人遊(市價14990元)</li>
                    <li>❤ 貳獎三名：90 吋電視一台(市價5990元)</li>
                    <li>❤ 參獎十名：知名 YouTuber 簽名握手會入場券一張(市價1500元)</li>
                </ul>
            </li>
        </ul>
        <button class="btn_important bullet_btn">我要抽獎</button>
    </div>
</section>
<%- include('template/footer.ejs', { page: 'lottery' }); %> 