$font: 16px;
$font-xl: 32px;
$font-lg: 28px;
$font-m: 20px;
$font-sm: 14px;
$line: 1.5;
$line-sm: 1.2;
$content-h: $line * 10em;
$primary: #eee;
$primary-light: #fefefe;
$primary-dark: #434343;
$secondary-dark: #333;
$secondary-light: #8f8f8f;
$bg-dark: black;
$bg-light: white;
$text-link: #737373;
$text-link-light: #a8a8a8;
$alert: royalblue;
$border-dark: #9a9a9a;
$border-light: #d7d7d7;
