@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
    font-family: "Questrial", "Microsoft JhengHei", sans-serif;
}
.navbar{
    background: white;
    box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav_brand{
    color: #489846;
    font-size: 36px;
    line-height: 44px;
}
.nav_menu{
    list-style: none;
    display: flex;
    font-size: 18px;
}
.nav_menu li{
    margin-left: 12px;
}
.nav_menu a{
    display: block;
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
.nav_menu a:hover, .active a{
    color: white;
    background-color: #ff7286;
    transition: all 0.5s ease-in-out;
}
.part{
    text-align: center;
    margin: 80px 0 40px;
}
.part h2{
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    padding-left: 16px;
    border-left: 15px solid #a3dea2;
    margin-bottom: 40px;
}
.faq_item{
    border-bottom: 1px solid #a6e2c0;
    padding: 20px 20px;
    display: flex;
    text-align: left;
    cursor: pointer;
}
.faq_item span{
    color: #70b282;
    font-size: 24px;
    line-height: 32px;
    margin-right: 16px;
}
.faq_item h3{
    font-size: 18px;
    line-height: 36px;
}
.faq_a{
    display: none;
    font-size: 16px;
    line-height: 28px;
}
.faq_a.show{
    display: block;
}
.footer_top{
    background: #e8efee;
}
.footer_top .wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.footer_top .left{
    padding-top: 4px;
}
.footer_top .right{
    text-align: end;
}
.footer_top li{
    font-size: 14px;
    line-height: 30px;
}
.footer_bottom{
    background: #35564b;
}
.footer_bottom{
    padding: 10px 0;
    line-height: 26px;
    color: white;
    text-align: center;
}
@media (max-width: 768px) {
    .navbar .wrapper{
        flex-direction: column;
        padding: 10px 0 0;
    }
    .nav_menu{
        width: 100%;
    }
    .nav_menu li{
        margin: 0;
        flex: 1;
    }
    .navbar a{
        text-align: center;
        border-radius: 0;
    }
    .footer_top .wrapper{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer_top .right{
        text-align: start;
    }
}